[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "bench/benchmark"]
	path = bench/benchmark
	url = https://github.com/google/benchmark.git
[submodule "cutlass"]
	path = cutlass
	url = https://github.com/NVIDIA/cutlass.git
